# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model weights or large files
app/models_ai/weights/

# macOS metadata
.DS_Store
